.forgot-wrapper{
    text-align: center;
}

.header-color{
    background-color: rgb(39, 39, 199);
    height: 50vh;
}

.forgot-wrapper h3{
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.forgot-wrapper p{
    margin-bottom: 2rem;
    font-weight: 600;
    color: rgb(85, 84, 84);
}

.forgot-ic{
    color: blue;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.forgot-form-wrapper{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 30rem;
    background-color: white;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.forgot-form-wrapper input{
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 1.5rem;
}


.forgot-btn button{
    padding: 0.6rem 2.5rem;
    background-color: #37AE48;
    color: rgb(242, 241, 241);
    border: none;
    font-size: 1.1rem;
    width: 100%;
}

.back-toLogin{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.back-toLogin a{
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}


@media (max-width: 1000px) {
    .forgot-form-wrapper{
        width: 25rem;
    }
}

@media (max-width: 450px) {
    .forgot-form-wrapper{
        width: 19.5rem;
    }


}