/* Reset password css */


.reset-wrapper{
    background-image: url('../assets/forgot-password-concept-illustration_114360-1095.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
}


.reset-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #2a2a29, #070909);
    opacity: .7;
    z-index: 1;
}

.reset-wrapper .signup-form-wrapper {
    z-index: 100;
}

.password-heading{
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.signup-form-wrapper button:hover{
    background-color: rgb(7, 20, 90);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}